# Server Configuration
PORT=3000
JWT_SECRET=super_secret_racing_game_jwt_key_2026

# Database Configuration
# Leave commented or unset to automatically use robust In-Memory fallback storage
# MONGODB_URI=mongodb://127.0.0.1:27017/cargame
MONGODB_URI=mongodb+srv://aatif:aatif@cluster0.zmydec2.mongodb.net/cargame-db?retryWrites=true&w=majority

# Brevo Transactional Email Configuration
BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=noreply@citydomination3d.com

